/* css styles */

.card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  filter: brightness(1.05);
}

.card a {
  text-decoration: none;
  color: inherit;
}


details a {
  text-decoration: none;
  color: inherit;
}

details a:hover {
    font-weight: bold;
}
